<div class="view-wrapper">
    <h1>ფილიალის ნახვა</h1>
    <form>
        <div class="input-box">
            <label for="address">მისამართი</label>
            <input type="text" name="address"
            [(ngModel)]="branchData.address"
            >
        </div>
        <div class="input-box">
            <label for="manager_name">მენეჯერის სახელი</label>
            <input type="text" name="manager_name"
            [(ngModel)]="branchData.manager_name"
            >
        </div>
    </form>
    <hr />
    <div class="personal" >
        <div class="button" (click)="createPersonal()">პერსონალის დამატება</div>
        <h3>პერსონალი</h3>
        <div class="table">
            <div class="container">
                <table class="table" id= "table-id">
                <thead>
                    <tr>
                        <th>პირადი ნომერი</th>
                        <th>სახელი</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of tableData"> 
                        <tr>
                            <td>{{item.pid}}</td>
                            <td>{{item.name}}</td>
                            <td class="menu" (click)="editInstitution(item)">edit</td>
                            <td class="menu" (click)="viewInstitution(item)">view</td>
                        </tr>
                    </ng-container>
                    
                    <tbody>
                </table>
          </div>           
        </div>
    </div>
</div>
