<div class="add-wrapper">
    <h1>პერსონალის დამატება</h1>
    <form>
        <div class="input-box">
            <label for="pid">პირადი ნომერი</label>
            <input type="text" name="pid"
            [(ngModel)]="personalData.pid"
            >
        </div>
        <div class="input-box">
            <label for="name">სახელი</label>
            <input type="text" name="name"
            [(ngModel)]="personalData.name"
            >
        </div>
        <div class="button" (click)="createPersonal()">
            დამატება
        </div>
    </form>
</div>
